.card {
	width: 100%;
	height: 60px;
	border-radius: 5px;
	border: 1px solid var(--card-text);
	font-size: 12px;
	position: relative;
	isolation: isolate;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: var(--card-text);
	overflow: hidden;
}
.top {
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-weight: 900;
}
.btn {
	text-transform: uppercase;
	font-size: 8px;
	padding: 2px 5px;
	background: var(--blue-100);
	border: none;
	color: var(--card-text);
	border-radius: 100vmax;
	font-weight: 700;
	cursor: pointer;
}
.type {
	display: flex;
	width: 100%;
	gap: 0.5rem;
}
.waves {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	svg {
		scale: 5 1;
		transform-origin: 0 0;
	}
}
.card:hover {
	.waves svg {
		animation: move 25s linear infinite;
	}
}
@keyframes move {
	0% {
		translate: 0%;
	}
	100% {
		translate: -400%;
	}
}
