#myThreeJsCanvas {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: -1;
	transform: translateX(-50%);
}
.hero-con {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	isolation: isolate;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: radial-gradient(
		circle at center,
		white,
		rgba(113, 129, 191, 0.5) 50%
	);
	position: relative;
	&.active {
		* {
			animation: fade-out 1.5s ease-in-out forwards;
		}
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.hero-header {
	font-size: 5rem;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 700;
	filter: drop-shadow(0 0 5px rgba(28, 6, 129, 0.3));
}
.hero-btn {
	padding: 0.5rem 1rem;
	border-radius: 100vmax;
	color: rgba(113, 129, 191, 0.5);
	background: #fff;
	border: none;
	outline: none;
	margin-bottom: 3rem;
	font-size: 1rem;
	font-weight: 500;
	box-shadow: 0 0 5px rgba(113, 129, 191, 0.3);
	cursor: pointer;
	transition: 0.2s;
	letter-spacing: 0px;
}
.hero-btn:hover {
	letter-spacing: 2px;
}
