.rotating-circle {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	.circle {
		position: absolute;
		width: 800px;
		aspect-ratio: 1;
		border-radius: 50%;
		background: linear-gradient(90deg, rgba(0, 0, 0, 0), var(--blue-100-a5));
		filter: blur(5px);
		animation: circle-rotate 25s infinite linear;
	}
	.circle-2 {
		width: 500px;
		background: linear-gradient(90deg, rgba(0, 0, 0, 0), var(--purple-100-a5));

		bottom: 0;
		right: 0;
	}
}
@keyframes circle-rotate {
	0%,
	100% {
		rotate: 0deg;
	}
	50% {
		rotate: 360deg;
	}
}
