.flex {
	display: flex;
}
.column {
	flex-direction: column;
}
.justify-center {
	justify-content: center;
}
.align-center {
	align-items: center;
}
@for $i from 1 through 20 {
	.mt-#{$i} {
		margin-top: $i * 4px;
	}
	.mb-#{$i} {
		margin-bottom: $i * 4px;
	}
	.ml-#{$i} {
		margin-left: $i * 4px;
	}
	.mt-#{$i} {
		margin-right: $i * 4px;
	}
	.m-#{$i} {
		margin: $i * 4px;
	}
	.pt-#{$i} {
		padding-top: $i * 4px;
	}
	.pb-#{$i} {
		padding-bottom: $i * 4px;
	}
	.pl-#{$i} {
		padding-left: $i * 4px;
	}
	.pt-#{$i} {
		padding-right: $i * 4px;
	}
	.p-#{$i} {
		padding: $i * 4px;
	}
	.gap-#{$i} {
		gap: $i * 4px;
	}
}
